# ===============================
# ROS 2
# ===============================
**/build/
**/install/
**/log/

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# VSCode
# ===============================
.vscode/

# ===============================
# CLion
# ===============================
.idea/

# ===============================
# Archivos temporales
# ===============================
*.swp
*.swo
*~
.DS_Store
Thumbs.db


micro_ros_ws/